[Unit]
Description=Discord Daemon

[Service]
ExecStart=/home/azureuser/discord/backend/dist/server.js

Restart=always
User=nobody

Group=nogroup

Environment=PATH=/usr/bin:/usr/local/bin

Environment=NODE_ENV=production

WorkingDirectory=/home/azureuser/discord/backend/dist/

[Install]
WantedBy=multi-user.target

# Remark: Add this at the top of this /home/azureuser/discord/backend/dist/server.js file.
#!/usr/bin/env node

# After that make this /home/azureuser/discord/backend/dist/server.js file executable.
